<% layout("layouts/boilerplate.ejs") %>
<div class="row">
   
    <div class="col-8 offset-2">
        <h1 class="mb-3">Login</h1>

         <form action="/login" method="POST" class="needs-validation" novalidate>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" placeholder="Enter Username" class="form-control" required>
              
            <div class="invalid-feedback">Username Required</div>
            </div>

    

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="Enter password" class="form-control" required>
            <div class="invalid-feedback">Password Required</div>
            </div> 
            <button class="btn btn-success">Login</button>
         </form>
        </div>
        </div>
